
<div class="container">
<h4 style="font-family:'Comic Sans MS'"> Login:</h4>
<%= form_with :url => "/sessions" do |form| %>
  <div class="col-lg-4 col-md-8 col-xs-6 mb-3">
    <%= form.label "email:", :class => "form-label" %>
   
    <%= form.text_field "email", :class => "form-control"  %>
  </div>
  
  <div class="col-lg-4 col-md-8 col-xs-6 mb-3">
    <%= form.label "password:", :class => "form-label" %> 
    <%= form.password_field "password" , :class => "form-control"%>
  </div>
 
 <p>
    <%=  form.submit "Login" , :class => "btn btn-outline-info" %>
  </p> 

<% end %>
  </div>