<div class="container">
<h4 style="font-family:'Comic Sans MS'">New Post</h4>

<%= form_with :model => @post do |form| %>
  <%= form.hidden_field "place_id" %>
  <div class="col-lg-4 col-md-8 col-xs-6 mb-3">
    <%= form.label "title:" , :class => "form-label"  %>
    <%= form.text_field "title" , :class => "form-control"%>
  </div>
  <div class="col-lg-4 col-md-8 col-xs-6 mb-3">
    <%= form.label "description", :class => "form-label"%>
    <%= form.text_field "description", :class => "form-control" %>
  </div>
  <div class="col-lg-4 col-md-8 col-xs-6 mb-3">
    <%= form.label "posted_on" , :class => "form-label"%>
    <%= form.date_field "posted_on", :class => "form-control" %>
  </div>

<div class="col mb-3">
  <%= form.label "uploaded_image", :class => "form-label" %>
  <%= form.file_field "uploaded_image", :accept => "image/png,image/jpg,image/jpeg,image/gif", :class => "form-control" %>
</div>

  <p>
    <%= form.submit "Create post", :class => "btn btn-outline-info"%>
  </p>
<% end %>

</div>